header {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px #e9e9e9;
}
.logoDiv {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.logoDiv img {
    height: 40px;
    display: flex;
}

nav.primaryNav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}







.salesRepCTA {
    background: #f9bc14;
    height: 81px;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: .7em;
}
